@font-face {
  font-family: "digital7";
  src: url(7Mono.ttf);
}

* {
  padding:0;
  margin:0;
  font-family: monospace;
}

/* body {
  text-align: center;
} */

.container {
  width: 500px;
  height: 800px;
  margin: 1em;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 68px 48px 48px 48px 48px 48px;
  gap: 12px;
}

.btn {
  width: 55px;
  height: 55px;
  /* margin-top: 8px; */
  border-radius: 5px;
  border: none;
}

.btn-digit {
  background-color: rgb(214, 214, 214);
}

.btn-operator {
  background-color: rgb(115, 207, 177);
}

.btn-equals {
  background-color: rgb(255, 158, 141);
}

.btn-clear {
  background-color: rgb(88, 88, 88);
  color: white;
}

.display {
  background-color: yellow;
  height: 68px;
  width: 240px;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 5;
}

#upperDisplay {
  height: 17px;
  width: 240px;
  background-color: transparent;
  border:0;
  text-align: right;
}

#lowerDisplay {
  height: 60px;
  background-color: transparent;
  width: 240px;
  text-align: right;
  font-family: "digital7", monospace;
  font-size: 2em;
  border:0;
}